@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Light mode defaults */
:root {
  /* your palette */
  --color-primary-900: #2c3139;
  --color-primary-700: #717b80;
  --color-primary-500: #9fb0b9;
  --color-primary-300: #c9dddf;
  --color-primary-100: #e0fbfc;

  /* semantic tokens (light) */
  --bg-main: var(--color-primary-100);
  --bg-muted: #cee6f1;
  --bg-hover: var(--color-primary-500);
  --bg-highlight: #49a35a;

  --text-highlight: #49a35a;
  --text-primary: var(--color-primary-900);
  --text-secondary: var(--color-primary-700);
  --text-muted: var(--color-primary-700);

  --border-default: var(--color-primary-500);
}

/* ✅ Dark mode overrides */
.dark {
  --bg-highlight: #4dbd61;
  --bg-main: var(--color-primary-900);
  --bg-hover: var(--color-primary-700);
  --bg-muted: #242a32;

  --surface-1: #2b3a40;
  --surface-2: #31434a;

  --border-default: rgba(157, 180, 192, 0.35);

  --text-highlight: #4dbd61;
  --text-primary: var(--color-primary-100);
  --text-secondary: var(--color-primary-300);
  --text-muted: var(--color-primary-500);
}

@layer utilities {
  /* COLOR PALETE */
  .text-highlight {
    color: var(--text-highlight);
  }
  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .text-muted {
    color: var(--text-muted);
  }

  .bg-highlight {
    background-color: var(--bg-highlight);
  }
  .bg-main {
    background-color: var(--bg-main);
  }
  .bg-muted {
    background-color: var(--bg-muted);
  }
}

@layer components {
  /* NAV LINK */
  .nav-link {
    @apply text-sm flex items-center gap-2 px-2 py-2 rounded-md w-full;
  }
  .nav-link:hover {
    background-color: var(--bg-hover);
  }
  .nav-link-action {
    @apply text-sm flex items-center justify-center mt-1 gap-1 px-2 py-2 rounded-md
    bg-highlight font-semibold
    hover:opacity-80;
    color: var(--bg-main);
  }
  .nav-title {
    @apply text-xs text-muted ml-2;
  }
  .action-icon {
    @apply p-2 rounded-md;
  }
  .action-icon:hover {
    background-color: var(--bg-hover);
  }

  /* REPORT ITEMS */
  .report-item {
    @apply border flex-grow;
  }
}
